body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  
}
.status {
  margin-bottom: 10px;
  font-size: 20px;
}
.winner{
  font-size: 20px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float:left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}
.square:hover{
  border-color: crimson;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}